@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@100;300;400&family=Source+Code+Pro&family=Source+Sans+3&display=swap');

* {
  background: #ccc;
  font-family: "Source Sans 3";
}

nav ul li {
  background: #eee;
  display: inline-block;
  padding: 0;
  margin: 0;
}
