<!doctype html>

<html>
 <head>
   <title>{{ site.title }} - CDS Package Store</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="initial-scale=1.0">
   <link rel="stylesheet" href="static/style.css">
 </head>
 <body>
   <nav>
     <ul>
       <li><p><i><b>CDS</b> package store</i></p></li>
     </ul>
   </nav><br>
   {{ content }}
   <br>
   <p style="color:#888">&copy; Copyright CDS 2024<br><a href="https://github.com/secondluke242014/cds-package-store/issues">Report an issue</a></p>
 </body> 
</html>
