<!doctype html>

<html>
 <head>
   <title>{{ page.title }} - CDS Package Store</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="initial-scale=1.0">
   <link rel="stylesheet" href="static/style.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9354767108876613"
     crossorigin="anonymous"></script>
 </head>
 <body>
   <nav>
     <ul>
       <li><a href='/cds-package-store'><i><b>CDS</b> package store</i></a></li>
       <li><a href='about'>About</a></li>
      <li><a href='privacy'>Privacy</a></li>
     </ul>
   </nav><br>
   {{ content }}
   <br>
   <p style="color:#888">&copy; Copyright CDS 2024<br><a href="https://github.com/secondluke242014/cds-package-store/issues">Report an issue</a><br>
   Ads are by Google Ads</p>
 </body> 
</html>
